@use "../abstracts/mixins" as *;
@use "../vendors/include-media" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1366px
);

// Fluid Typography
$min_width-dataTitle: 320px;
$max_width-dataTitle: 768px;
$min_font-dataTitle: 14px;
$max_font-dataTitle: 16px;

$min_width-dataDescription: 320px;
$max_width-dataDescription: 768px;
$min_font-dataDescription: 16px;
$max_font-dataDescription: 18px;

.contacts-table {
}

.contacts-table__content {
    padding-top: 5.5rem;
    padding-bottom: calc(6rem - 1.5rem);
}

.contacts-table__data {
}

.contacts-table__data-row {
    @include flex(flex-start, flex-start, column);
}

.contacts-table__data-title {
    // font-size: var(--fs-320-14);
    @include fluid-type($min_width-dataTitle, $max_width-dataTitle, $min_font-dataTitle, $max_font-dataTitle);
    line-height: 2rem;
    color: var(--clr-primary-dark-blue);
    padding-bottom: 0.35714285em;
}

.contacts-table__data-description {
    font-family: var(--ff-normal-500);
    @include fluid-type($min_width-dataDescription, $max_width-dataDescription, $min_font-dataDescription, $max_font-dataDescription);
    font-weight: 500;
    line-height: 2.2rem;
    color: var(--clr-primary-dark-blue);
    padding-bottom: 0.9375em;
}

.contacts-table__data-title-social {
    padding-bottom: 0.7142857em;
}

.contacts-table__data-content-row {
    @include flex(flex-start, flex-start, row);
}

.contacts-table__phone-number-link {
}

.contacts-table__email-link {
}

.contacts-table__social-link {
    width: 2.4rem;
    height: 2.4rem;
    background: var(--clr-neutral-white);
    box-shadow: 0 0.2rem 1rem rgba(165, 168, 176, 0.1);
    display: block;
    border-radius: 50%;
    margin-right: 1.5rem;
    @include flex(center, center, row);
}

.contacts-table__fb-icon {
    fill: none;
    width: 0.6rem;
    height: 1.2rem;
}

.contacts-table__vk-icon {
    fill: none;
    width: 1.4rem;
    height: 0.8rem;
}

.contacts-table__inst-icon {
    fill: none;
    width: 1.2rem;
    height: 1.2rem;
}

@include media(">=tablet") {
    .contacts-table {
        // background-color: var(--clr-accent-light-blue);
        // background-color: red;
    }
    
    .contacts-table__content {
        padding-top: 7rem;
        padding-bottom: 8rem;
    }
    
    .contacts-table__data {
        display: grid;
        grid-template-columns: max(28.3rem, 28%) max(17.6rem, 20%);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
            "address number"
            "timetable email"
            "social-links ."
        ;
        column-gap: 4rem;
        row-gap: 2.5rem;
    }

    .contacts-table__address {
        grid-area: address;
    }

    .contacts-table__timetable {
        grid-area: timetable;
    }

    .contacts-table__number {
        grid-area: number;
    }

    .contacts-table__email {
        grid-area: email;
    }

    .contacts-table__social-links {
        grid-area: social-links;
    }
    
    .contacts-table__data-title {
        font-size: var(--fs-768-16);
        line-height: 2.3rem;
        padding-bottom: 0.625em;
    }
    
    .contacts-table__data-description {
        font-size: var(--fs-768-18);
        line-height: 2.5rem;
        padding-bottom: unset;
    }

    .contacts-table__data-title-social {
        padding-bottom: 0.9375em;
    }
}

@include media(">=desktop") {
    .contacts-table {
    }
    
    .contacts-table__content {
        padding-top: 6rem;
        padding-bottom: 7rem;
        padding-left: 7rem;
        padding-right: 7rem;
        background-color: var(--clr-accent-light-blue);
        box-shadow: 0 0.4rem 4rem rgba(217, 217, 217, 0.3);
        border-radius: 1.2rem;
        max-width: 41.3rem;
    }
    
    .contacts-table__data {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 
            "address"
            "timetable"
            "number"
            "email"
            "social-links"
        ;
        column-gap: unset;
        row-gap: 2rem;
    }
    
    .contacts-table__data-title {
        font-size: var(--fs-1366-16);
    }
    
    .contacts-table__data-description {
        font-size: var(--fs-1366-18);
    }
}