@use "../abstracts/mixins" as *;
@use "../vendors/include-media" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1366px
);

// Fluid Typography
$min_width-contactPhone: 1366px;
$max_width-contactPhone: 1920px;
$min_font-contactPhone: 18px;
$max_font-contactPhone: 20px;

.contact-phone {
    display: none;
    order: -1;
    margin-left: auto;
}

.contact-phone__link {
    color: var(--clr-primary-dark-blue);
    font-family: var(--ff-normal-500);
    font-weight: 500;
    font-size: var(--fs-320-18);
    line-height: 2.5rem;
    column-gap: 1rem;
    @include flex(flex-start, flex-start, row);
}

.contact-phone__phone-icon-wrapper {
    width: 1.5rem;
    height: 1.5rem;
}

.contact-phone__phone-icon {
    fill: none;
    width: inherit;
    height: inherit;
}

@include media(">=tablet") {
    .contact-phone {
        display: block;
    }

    .contact-phone__link {
        font-size: var(--fs-768-18);
        @include flex(flex-start, center, row);
    }
}

@include media(">=desktop") {
    .contact-phone__link {
        // font-size: var(--fs-1366-18);
        @include fluid-type($min_width-contactPhone, $max_width-contactPhone, $min_font-contactPhone, $max_font-contactPhone);
    }
}