.navigation {
}
.navigation__main-navigation {
    display: none; // Temporary
}
.navigation__burger-navigation {
    margin-right: 1.5rem;
}
.navigation__mobile-navigation {
    display: none; // Temporary
}
