.section-header {
    font-family: var(--ff-normal-500b);
    color: var(--clr-primary-dark-blue);
    font-weight: 500;
}

.section-header--position--center {
    text-align: center;
}

.section-header__title {
    font-size: var(--fs-320-22);
    line-height: 3.1rem;
}

.section-header__text {
    color: var(--clr-primary-dark-blue);
    font-family: var(--ff-normal-400);
    font-weight: 400;
    line-height: 2.03rem;
    font-size: var(--fs-320-14);
    padding-bottom: 2.50em;
}