@use "../abstracts/mixins" as *;
@use "../vendors/include-media" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1366px
);

// Fluid Typography
$min_width-teacherName: 320px;
$max_width-teacherName: 768px;
$min_font-teacherName: 16px;
$max_font-teacherName: 18px;

$min_width-teacherHomeLand: 320px;
$max_width-teacherHomeLand: 768px;
$min_font-teacherHomeLand: 14px;
$max_font-teacherHomeLand: 14px;

.teachers-slider {
    position: relative;
    max-width: 29rem;
}

.teachers-slider__teacher-image-wrapper {
    border-radius: 1.2rem;
}

.teachers-slider__teacher-image {
    border-radius: inherit;
    object-fit: cover;
}

.teachers-slider__teacher-name {
    display: block;
    text-align: center;
    font-family: var(--ff-normal-500);
    font-weight: 500;
    line-height: 2.2rem;
    margin-top: 0.625em;
    @include fluid-type($min_width-teacherName, $max_width-teacherName, $min_font-teacherName, $max_font-teacherName);
}

.teachers-slider__teacher-home-land {
    text-align: center;
    color: var(--clr-neutral-gray-blue);
    line-height: 2rem;
    @include fluid-type($min_width-teacherHomeLand, $max_width-teacherHomeLand, $min_font-teacherHomeLand, $max_font-teacherHomeLand);
}

.teachers-slider__controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.teachers-slider__button-prev {
    fill: none;
    width: 1.5rem;
    height: 0.8rem;
    position: absolute;
    bottom: 3.5rem;
    left: -14.5rem;
    cursor: pointer;
    transition: transform 0.3s ease, scale 0.3s ease;
}

.teachers-slider__button-prev:hover {
    transform: translateX(-0.5rem);
    transition: transform 0.6s ease, scale 0.6s ease;
}

.teachers-slider__button-prev:focus {
    transform: translateX(-0.5rem) scale(1.1);
    transition: transform 0.6s ease, scale 0.6s ease;
}

.teachers-slider__arrow-icon {
    width: inherit;
    height: inherit;
}

.teachers-slider__button-next {
    fill: none;
    width: 1.5rem;
    height: 0.8rem;
    position: absolute;
    bottom: 3.5rem;
    left: 13rem;
    cursor: pointer;
    transition: transform 0.3s ease, scale 0.3s ease;
}

.teachers-slider__button-next:hover {
    transform: translateX(0.5rem);
    transition: transform 0.6s ease;
}

.teachers-slider__button-next:focus {
    transform: translateX(0.5rem) scale(1.1);
    transition: transform 0.6s ease, scale 0.6s ease;
}

@include media(">=tablet") {
    $min_width-teacherName: 768px;
    $max_width-teacherName: 1366px;
    $min_font-teacherName: 18px;
    $max_font-teacherName: 20px;

    $min_width-teacherHomeLand: 768px;
    $max_width-teacherHomeLand: 1366px;
    $min_font-teacherHomeLand: 14px;
    $max_font-teacherHomeLand: 16px;

    .teachers-slider {
        max-width: 68rem;
    }
    
    .teachers-slider__wrapper {
        padding-top: 4.5rem;
        padding-bottom: 3.5rem;

        // column-gap: 3rem;
        // @include flex(flex-start, center, row);
    }
    
    .teachers-slider__slide {
        max-width: 20.6rem;
    }
    
    .teachers-slider__teacher-name {
        line-height: 2.5rem;
        margin-top: 0.8333em;
        @include fluid-type($min_width-teacherName, $max_width-teacherName, $min_font-teacherName, $max_font-teacherName);
    }
    
    .teachers-slider__teacher-home-land {
        padding-top: 0.0714em;
        @include fluid-type($min_width-teacherHomeLand, $max_width-teacherHomeLand, $min_font-teacherHomeLand, $max_font-teacherHomeLand);
    }
    
    .teachers-slider__button-prev {
        position: initial;
    }
    
    .teachers-slider__button-next {
        position: initial;
    }

    .teachers-slider__controls {
        position: relative;
        column-gap: 1rem;
        padding-bottom: -0.5rem;
        margin-bottom: 0.5rem;
        @include flex(center, center, row);
    }
}

@include media(">=desktop") {
    .teachers-slider {
        max-width: unset;
    }
    
    .teachers-slider__wrapper {
        padding-top: 5rem;
        padding-bottom: 4.5rem;

        // column-gap: 2.5rem; // should be 3
    }
    
    .teachers-slider__slide {
        max-width: 22rem;
    }
    
    .teachers-slider__teacher-name {
        font-size: var(--fs-1366-20);
        line-height: 2.8rem;
        margin-top: 0.75em;
    }
    
    .teachers-slider__teacher-home-land {
        font-size: var(--fs-1366-16);
        line-height: 2.3rem;
        padding-top: 0.3125em;
    }

    .teachers-slider__controls {
        position: relative;
        column-gap: 1rem;
        z-index: 100;
        padding-bottom: -0.5rem;
        margin-bottom: 0.5rem;
        @include flex(center, center, row);
    }
}
