@use "../abstracts/mixins" as *;
@use "../vendors/include-media" as *;

$breakpoints: (
	phone: 320px, //
	tablet: 768px,
	desktop: 1366px
);

.teachers-slider {
    position: relative;
}

.teachers-slider__wrapper {
    @include flex(flex-start, center, row);
}

.teachers-slider__slide {
}

.teachers-slider__slide:nth-child(2) {
    display: none;
}

.teachers-slider__slide:nth-child(3) {
    display: none;
}

.teachers-slider__slide:nth-child(4) {
    display: none;
}

.teachers-slider__teacher-image-wrapper {
    border-radius: 1.2rem;
}

.teachers-slider__teacher-image {
    border-radius: inherit;
}

.teachers-slider__teacher-name {
    display: block;
    text-align: center;
    font-family: var(--ff-normal-500);
    font-weight: 500;
    line-height: 2.2rem;
    margin-top: 0.625em;
}

.teachers-slider__teacher-home-land {
    text-align: center;
    color: var(--clr-neutral-gray-blue);
    font-size: var(--fs-320-14);
    line-height: 2rem;
}

.teachers-slider__controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.teachers-slider__button-prev {
    fill: none;
    width: 1.5rem;
    height: 0.8rem;
    position: absolute;
    bottom: 3.5rem;
    left: -14.5rem;
    cursor: pointer;
}

.teachers-slider__arrow-icon {
    width: inherit;
    height: inherit;
}

.teachers-slider__button-next {
    fill: none;
    width: 1.5rem;
    height: 0.8rem;
    position: absolute;
    bottom: 3.5rem;
    left: 13rem;
    cursor: pointer;
}

@include media(">=tablet") {
    .teachers-slider {
        max-width: unset;
    }
    
    .teachers-slider__wrapper {
        padding-top: 4.5rem;
        padding-bottom: 3.5rem;
        column-gap: 3rem;
        @include flex(flex-start, center, row);
    }
    
    .teachers-slider__slide {
    }
    // temp
    .teachers-slider__slide:nth-child(2) {
        display: block;
    }
    // temp
    .teachers-slider__slide:nth-child(3) {
        display: block;
    }
    
    .teachers-slider__teacher-name {
        font-size: var(--fs-768-18);
        line-height: 2.5rem;
        margin-top: 0.83333333em;
    }
    
    .teachers-slider__teacher-home-land {
        font-size: var(--fs-768-14);
        padding-top: 0.071428571em;
    }
    
    .teachers-slider__button-prev {
        position: initial;
    }
    
    .teachers-slider__button-next {
        position: initial;
    }

    .teachers-slider__controls {
        position: relative;
        column-gap: 1rem;
        @include flex(center, center, row);
    }
}

@include media(">=desktop") {
    .teachers-slider {
        max-width: unset;
    }
    
    .teachers-slider__wrapper {
        padding-top: 5rem;
        padding-bottom: 4.5rem;
        column-gap: 2.5rem; // should be 3
    }
    
    .teachers-slider__slide {
    }
    // temp
    .teachers-slider__slide:nth-child(4) {
        display: block;
    }
    
    .teachers-slider__teacher-name {
        font-size: var(--fs-1366-20);
        line-height: 2.8rem;
        margin-top: 0.75em;
    }
    
    .teachers-slider__teacher-home-land {
        font-size: var(--fs-1366-16);
        line-height: 2.3rem;
        padding-top: 0.3125em;
    }
}