@use "../abstracts/mixins" as *;
@use "../vendors/include-media" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1366px
);

.video-player {
    width: inherit;
    height: inherit;
    border-radius: 1.2rem;
    position: relative;
    @include flex(center, center, row);
}

.video-player__image-wrapper {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    z-index: 1;
}

.video-player__image {
    position: relative;
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

.video-player__player {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    object-fit: cover;
    z-index: -1;
}

.video-player__player-wrapper{
    position: relative;
    width: 29rem;
    height: 26.2rem;
    // border-radius: 1.2rem;
    border-radius: 20px; 
    overflow: hidden;
    transform: translateZ(0);
}

.video-player__play-button-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-player__play-button {
    position: relative;
    width: 4.3rem;
    height: 4.3rem;
    border-radius: 50%;
    background-color: var(--clr-accent-bright-yellow);
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.video-player__play-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5.1rem;
    height: 5.1rem;
    border: 1px solid var(--clr-accent-bright-yellow);
    background-color: transparent;
    border-radius: 50%;
}

.video-player__play-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    width: 0;
    height: 0;
    border-top: 8.5px solid transparent;
    border-left: 12px solid var(--clr-secondary-snow-white);
    border-bottom: 8.5px solid transparent;
}

.video-player__play-button:hover {
    background-color: hsl(43, 69%, 58%);
    transition: background-color 0.3s ease;
}

.video-player__play-button:focus {
    background-color: hsl(43, 69%, 58%);
    transition: background-color 0.3s ease;
}

@include media(">=tablet") {        
    .video-player__player-wrapper{
        width: 35.4rem;
        height: 26.2rem;
    }
}

@include media(">=desktop") {    
    .video-player__player-wrapper{
        width: 43.1rem;
        height: 23.1rem;
    }
}