$colors: (
	primary: (
		"dark-blue": hsl(223deg, 66%, 21%),
		"dark-blue2": hsl(223deg, 66%, 21%),
	),
	secondary: (
		"snow-white": hsl(37deg, 67%, 98%),
		"snow-white2": hsl(30deg, 67%, 99%),
		),
	accent: (
		"yellow": hsl(40deg, 100%, 76%),
		"bright-yellow": hsl(43deg, 88%, 64%),
		"sky-blue": hsl(188deg, 63%, 73%),
		"light-blue": hsl(204deg, 45%, 98%),
		"pink": hsl(343deg, 97%, 86%),
		"sea-blue": hsl(227deg, 23%, 38%),
		"gray-blue": hsl(223deg, 21%, 94%),
		"blue": hsl(220deg, 100%, 46%),
		"dark-blue": hsl(220deg, 100%, 33%)
	),
	neutral: (
		"white": hsl(0deg, 0%, 100%),
		"gray-blue": hsl(222deg, 13%, 46%),
		"black": hsl(233deg, 33%, 10%)
	),
	hover: (
		"yellow": hsl(40deg, 54%, 64%),
		"sky-blue": hsl(188deg, 43%, 65%), 
		"pink": hsl(343deg, 43%, 73%),
	)
);
