@use "../abstracts/mixins" as *;
@use "../vendors/include-media" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1366px
);

// Fluid Typography
$min_width-listItemTitle: 320px;
$max_width-listItemTitle: 768px;
$min_font-listItemTitle: 16px;
$max_font-listItemTitle: 18px;

$min_width-listItemDescription: 320px;
$max_width-listItemDescription: 768px;
$min_font-listItemDescription: 14px;
$max_font-listItemDescription: 14px;

.advantages {
    background-color: var(--clr-secondary-snow-white2);
    padding-bottom: 5.5rem;
}

.advantages__wrapper {
}

.advantages__list {
    display: grid;
    grid-template-columns: 25.862% 1fr;
    grid-template-rows: repeat(5, auto);
}

.advantages__list-item {
    grid-column: 2;
    justify-self: center;
    max-width: 32.7rem;
}

.advantages__list-item:nth-child(1) {
    order: 1;
}

.advantages__list-item:nth-child(2) {
    order: 4;
}

.advantages__list-item:nth-child(3) {
    order: 3;
}

.advantages__list-item:nth-child(4) {
    order: 2;
}

.advantages__list-item:nth-child(5) {
    order: 5;
}

.advantages__list-item--type--stretched {
    grid-column: span 2;
}

.advantages__list-item-title {
    color: var(--clr-primary-dark-blue);
    font-family: var(--ff-normal-500);
    font-weight: 500;
    // font-size: var(--fs-320-16);
    @include fluid-type($min_width-listItemTitle, $max_width-listItemTitle, $min_font-listItemTitle, $max_font-listItemTitle);
    line-height: 2.2rem;
    padding-bottom: 0.3125em;
}

.advantages__list-item-description {
    // font-size: var(--fs-320-14);
    @include fluid-type($min_width-listItemDescription, $max_width-listItemDescription, $min_font-listItemDescription, $max_font-listItemDescription);
    line-height: 2rem;
    color: var(--clr-primary-dark-blue);
}

.advantages__list-item-picture-wrapper {
    position: relative;
}

.advantages__list-item-picture {
}

.advantages__list-item-picture-arrow1--size--desktop {
    display: none;
}

.advantages__list-item-picture-arrow2--size--desktop {
    display: none;
}

.advantages__list-item-picture-arrow3--size--desktop {
    display: none;
}

.advantages__list-item-picture-arrow4--size--desktop {
    display: none;
}

.advantages__list-item-picture-arrow1--size--tablet {
    display: none;
}

.advantages__list-item-picture-arrow2--size--tablet {
    display: none;
}

.advantages__list-item-picture-arrow3--size--tablet {
    display: none;
}

.advantages__list-item-picture-arrow1--size--mobile {
    position: absolute;
    top: -13rem;
    left: -16rem;
    fill: none;
    width: auto;
    height: 17.4rem;
}

.advantages__list-item-picture-arrow2--size--mobile {
    position: absolute;
    bottom: -0.5rem;
    right: 6rem;
    fill: none;
    width: auto;
    height: 6.8rem;
}

.advantages__list-item-picture-arrow3--size--mobile {
    position: absolute;
    top: -1rem;
    left: 5rem;
    fill: none;
    width: auto;
    height: 7.1rem;
}

.advantages__list-item-picture-arrow4--size--mobile {
    position: absolute;
    bottom: -15rem;
    left: 5.5rem;
    fill: none;
    width: auto;
    height: 20.6rem;
}

@include media(">=tablet") {    
    // Fluid Typography
    $min_width-listItemTitle: 768px;
    $max_width-listItemTitle: 1366px;
    $min_font-listItemTitle: 18px;
    $max_font-listItemTitle: 20px;

    $min_width-listItemDescription: 768px;
    $max_width-listItemDescription: 1366px;
    $min_font-listItemDescription: 14px;
    $max_font-listItemDescription: 16px;

    .advantages {
        padding-bottom: 10.5rem;
    }
    
    .advantages__wrapper {
        padding-top: 5.5rem;
    }
    
    .advantages__list {
        justify-content: center;
        position: relative;
        display: grid;
        grid-template-columns: max(29rem, 30%) max(16.6rem, 20%) max(21.5rem, 24%);
        grid-template-rows: 3.5rem 5.3rem 3.5rem 6.5rem 5.8rem 5.1rem 5.7rem;
        grid-template-areas: 
            ". . item2"
            "item1 . item2"
            "item1 . ."
            ". . ."
            ". . item4"
            "item3 . item4"
            "item3 . ."
        ;
    }
    
    .advantages__list-item:nth-child(1) {
        order: 1;
        grid-area: item1;
        max-width: initial;
        z-index: 2;
    }

    .advantages__list-item:nth-child(2) {
        order: 4;
        grid-area: item3;
        max-width: initial;
        z-index: 2;
    }

    .advantages__list-item:nth-child(3) {
        order: 3;
        position: absolute;
        top: 50%;
        left: 52.2%;
        transform: translate(-50%, -50%);
    }

    .advantages__list-item:nth-child(4) {
        order: 2;
        grid-area: item2;
        max-width: initial;
        z-index: 2;
    }

    .advantages__list-item:nth-child(5) {
        order: 5;
        grid-area: item4;
        max-width: initial;
        z-index: 2;
    }

    .advantages__list-item {
        grid-column: initial;
        justify-self: start;
        max-width: initial; // try to change latter
    }
    
    .advantages__list-item--type--stretched {
        grid-column: initial;
    }

    .advantages__list-item-title {
        font-size: var(--fs-768-18);
        // @include fluid-type($min_width-listItemTitle, $max_width-listItemTitle, $min_font-listItemTitle, $max_font-listItemTitle);
        line-height: 2.5rem;
        padding-bottom: 0.2777777em;
    }
    
    .advantages__list-item-description {
        font-size: var(--fs-768-14);
        // @include fluid-type($min_width-listItemDescription, $max_width-listItemDescription, $min_font-listItemDescription, $max_font-listItemDescription);
    }
    
    .advantages__list-item-picture-arrow1--size--tablet {
        display: block;
        position: absolute;
        top: -4.2rem;
        left: -5.5rem;
        fill: none;
        width: 13.4rem;
        height: 4.6rem;
    }
    
    .advantages__list-item-picture-arrow2--size--tablet {
        display: block;
        position: absolute;
        top: 5rem;
        right: -5.5rem;
        fill: none;
        width: 5.2rem;
        height: 5.8rem;
    }
    
    .advantages__list-item-picture-arrow3--size--tablet {
        display: block;
        position: absolute;
        bottom: -3.9rem;
        left: 14rem;
        fill: none;
        width: 10.7rem;
        height: 3.7rem;
    }
    
    .advantages__list-item-picture-arrow1--size--mobile {
        display: none;
    }
    
    .advantages__list-item-picture-arrow2--size--mobile {
        display: none;
    }
    
    .advantages__list-item-picture-arrow3--size--mobile {
        display: none;
    }
    
    .advantages__list-item-picture-arrow4--size--mobile {
        display: none;
    }
}

@include media(">=desktop") {
    .advantages {
        padding-bottom: 12rem;
    }
    
    .advantages__wrapper {
        padding-top: 3rem;
    }
    
    .advantages__list {
        justify-content: unset;
        grid-template-columns: 32.2rem auto 24.9rem; // second column need to fix
        grid-template-rows: 4.5rem 5.9rem 4.5rem 10.4rem 6.9rem 5.8rem 7rem;
        grid-template-areas: 
            ". . item2"
            "item1 . item2"
            "item1 . ."
            ". . ."
            ". . item4"
            "item3 . item4"
            "item3 . ."
        ;
    }

    .advantages__list-item-title {
        font-size: var(--fs-1366-20);
        line-height: 2.8rem;
        padding-bottom: 0.75em;
    }
    
    .advantages__list-item-description {
        font-size: var(--fs-1366-16);
        line-height: 2.3rem;
    }
    
    .advantages__list-item-picture-arrow1--size--tablet {
        display: none;
    }
    
    .advantages__list-item-picture-arrow2--size--tablet {
        display: none;
    }
    
    .advantages__list-item-picture-arrow3--size--tablet {
        display: none;
    }

    .advantages__list-item-picture-arrow1--size--desktop {
        display: block;
        position: absolute;
        top: -3.5rem;
        left: -9rem;
        fill: none;
        width: 18.2rem;
        height: 6.1rem;
    }
    
    .advantages__list-item-picture-arrow2--size--desktop {
        display: block;
        position: absolute;
        top: 17.5rem;
        left: -12rem;
        fill: none;
        width: 11.5rem;
        height: 12.6rem
    }
    
    .advantages__list-item-picture-arrow3--size--desktop {
        display: block;
        position: absolute;
        top: 10rem;
        left: 32.5rem;
        fill: none;
        width: 11.5rem;
        height: 12.6rem;
    }
    
    .advantages__list-item-picture-arrow4--size--desktop {
        display: block;
        position: absolute;
        top: 38rem;
        left: 23rem;
        fill: none;
        width: 14.4rem;
        height: 5rem;
    }
}