.contacts {
    padding-top: 6rem;
    background-color: var(--clr-secondary-snow-white2);
}

.contacts__section-title {
    line-height: 2.8rem;
    padding-bottom: 0.90909090em;
}

.contacts__wrapper {
}

.contacts__contacts-table {
}

.contacts__contacts-map {
}
