@use "../abstracts/mixins" as *;
@use "../vendors/include-media" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1366px
);

// Fluid Typography
$min_width-copyright: 320px;
$max_width-copyright: 768px;
$min_font-copyright: 12px;
$max_font-copyright: 14px;

$min_width-politics: 320px;
$max_width-politics: 768px;
$min_font-politics: 12px;
$max_font-politics: 14px;

.footer {
    background-color: var(--clr-secondary-snow-white2);
}

.footer__wrapper {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    flex-wrap: wrap;
    @include flex(flex-start, space-between, row);
}

.footer__copyright {
    color: var(--clr-primary-dark-blue);
    line-height: 1.7rem;
    margin-bottom: 0.8333em;
    @include fluid-type($min_width-copyright, $max_width-copyright, $min_font-copyright, $max_font-copyright);
}

.footer__copyright-symbol {
    width: 0.9rem;
    height: 0.9rem;
}

.footer__copyright-symbol-icon {
    fill: none;
    width: inherit;
    height: inherit;
}

.footer__politics {
    color: var(--clr-primary-dark-blue);
    line-height: 1.7rem;
    @include fluid-type($min_width-politics, $max_width-politics, $min_font-politics, $max_font-politics);
}

@include media(">=tablet") {    
    $min_width-copyright: 768px;
    $max_width-copyright: 1366px;
    $min_font-copyright: 14px;
    $max_font-copyright: 16px;

    $min_width-politics: 768px;
    $max_width-politics: 1366px;
    $min_font-politics: 14px;
    $max_font-politics: 16px;

    .footer__wrapper {
        @include flex(flex-start, space-between, row);
    }
    
    .footer__copyright {
        line-height: 2rem;
        margin-bottom: unset;
        @include fluid-type($min_width-copyright, $max_width-copyright, $min_font-copyright, $max_font-copyright);
    }
    
    .footer__copyright-symbol {
        width: 1.2rem;
        height: 1.2rem;
    }
    
    .footer__politics {
        line-height: 2rem;
        @include fluid-type($min_width-politics, $max_width-politics, $min_font-politics, $max_font-politics);
    }
}

@include media(">=desktop") {
    .footer__wrapper {
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
        @include flex(flex-start, space-between, row);
    }
    
    .footer__copyright {
        font-size: var(--fs-1366-16);
    }
    
    .footer__copyright-symbol {
        width: 1.6rem;
        height: 1.6rem;
    }
    
    .footer__politics {
        font-size: var(--fs-1366-16);
    }
}